@import "tailwindcss";

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--colorNeutralBackground3);
  border-radius: var(--borderRadiusMedium);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--colorNeutralBackground3Hover, var(--colorNeutralBackground3));
}

*::-webkit-scrollbar-thumb {
  background-color: var(--colorNeutralStrokeAccessible);
  border-radius: var(--borderRadiusMedium);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--colorNeutralStroke1);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--colorNeutralStroke1Hover, var(--colorNeutralStroke1));
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--colorNeutralStrokeAccessible) var(--colorNeutralBackground3);
}
